input#upload {
    display: none;
}

@media only screen and (min-width : 768px) {
            label.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeMedium.MuiButton-containedSizeMedium {
                width: 600px;
                height: 400px;
                background: white;
                color: black;
            }
    }
    @media only screen and (max-width : 768px) {
        label.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeMedium.MuiButton-containedSizeMedium {
            width: 100% !important;
            background: white;
            color: black;
        }
}



.tablex{
    width: 100%;
    margin: 30px;
    padding: 30px;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorError.MuiIconButton-sizeMedium {
   /*display: none;*/
}

.table {
    width: 100%;
    }

    .MuiBox-root.muiltr-1uj2axd {
        
    }

    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation2 {
        box-shadow: none;
        background: white;
        width: 100%;
        padding: 20px;
    }

    .MuiBox-root.muiltr-zrlv9q {
        position: relative;
    }

    td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium {
        background: white;
        border: 1px solid #d3d3d370;
    }

    .MuiBox-root.muiltr-zrlv9q {
        background: white;
    }


    th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignLeft.MuiTableCell-sizeMedium {
        width: 120px;
    }

    .mt-32.sm\:mt-48.p-24.pb-28.sm\:p-40.sm\:pb-28.rounded-2xl.border-2.border-dashed.rounded-2xl.bg-slate-100 {
        background: white;
    }

    .flex.flex-1.w-9\/12.sm\:w-9\/12.items-center.px-16.border-1.rounded-full.MuiBox-root.muiltr-0 {
        background: white;
    }

    .MuiBox-root.muiltr-1uj2axd {
        min-height: 45px;
        background: white;
    }

    .disabled{
opacity: .3;
background-color: unset !important;
    }


    .fullWidth {
        width:100%
    }


    @media only screen and (min-width : 768px) {
    input.MuiInputBase-input.MuiInput-input.muiltr-xudbmy-MuiInputBase-input-MuiInput-input {
        width: 900px;
    }

    }

    th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignLeft.MuiTableCell-sizeMedium {
        width: 105px;
    }

    td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium {
        width: 105px;
    }



    @media screen and (max-width: 600px) {
        .logo_img {
            /*width: 100%;*/
            height: auto;
        
        }
    }
    
    /* For larger screens */
    @media screen and (min-width: 601px) {
        .logo_img {
            /*width: 80%;*/ /* Adjust as needed */
            height: auto;
     
        }
    }



    .MuiBox-root  label.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeMedium.MuiButton-containedSizeMedium {
        border: 1px solid lightseagreen;
    }